body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  max-width: 1200px;
}

body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


.header {
  background-color: rgba(52, 160, 164, 0.8);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  width: 100%;
}

.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .header-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .row .header-left .header-logo {
  width: 15%;
  cursor: pointer;
}

.header .row .header-left .header-logo img {
  width: 100%;
}

.header .row .header-left .header-nav {
  width: 80%;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
  text-align: center;
  margin-left: 20px;
}

.header .row .header-left .header-nav .nav-content {
  padding: 0;
}

.header .row .header-left .header-nav .nav-content .nav-item {
  display: inline-block;
  position: relative;
}

.header .row .header-left .header-nav .nav-content .nav-item i {
  font-size: 16px;
}

.header .row .header-left .header-nav .nav-content .nav-item a {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-left .header-nav .nav-content .nav-item a:hover {
  color: #333533;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu {
  min-width: 240px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 12px 0;
  border-radius: 4px;
  list-style: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li a {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 14px;
  display: block;
  color: #1f1f25;
  margin: 0 10px;
  border-radius: 3px;
  text-decoration: none;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li:hover a {
  color: #f48c06;
  background: rgba(83, 81, 80, 0.07);
}

.header .row .header-left .header-nav .nav-content .nav-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  z-index: 90;
}

.header .row .header-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .row .header-right .header-right-item {
  width: 80%;
  text-align: right;
}

.header .row .header-right .header-right-item i {
  margin-right: 20px;
  color: #f7fff7;
  cursor: pointer;
}

.header .row .header-right .header-right-item .nav-login {
  display: inline-block;
}

.header .row .header-right .header-right-item .nav-login a {
  color: #f7fff7;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-right .header-right-item .nav-login a:hover {
  opacity: 0.75;
  color: #333533;
}

.header .row .header-right .header-right-item .btn-report {
  background: #f48c06;
  color: #333533;
  font-weight: 600;
  padding: 15px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 3em #f48c06 inset;
          box-shadow: 0 0 0 3em #f48c06 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.header .row .header-right .header-right-item .btn-report:hover {
  -webkit-box-shadow: 0 0 0 1px #f7fff7 inset;
          box-shadow: 0 0 0 1px #f7fff7 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f7fff7;
  background: transparent;
  border: 1px solid #f7fff7;
}

/* abc */
a{
  text-decoration: none;
}

.demi-search {
  padding: 0% 19% 0% 19%;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.demi-search center strong{
  color: #eb5e28;
  font-size: 20px;
  justify-self: center;

}

.demi-search .small-search {
  margin: 2% 15%;
  height: 200%;
  width: 100%;
}

.contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1% 7% 1% 7%;
}

.contents .content-left {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
}

.contents .content-left .clear-filter {
display: flex;
flex-direction: column;
}
.contents .content-left .clear-filter .filter{
  margin-top: 10px;
}
.contents .content-right .row .card .card-body{
  text-align: center;
}


.contents .content-right .row .card .card-body p {
  font-size: 16px;
  color: #636363;
  margin-bottom: 15px;
  padding: 10px;
}

.contents .content-right{
  width: 85%;
  justify-content: flex-end;
}

.contents .content-right .row {
  justify-content:space-around;
}

.contents .content-right .row .card {
  width: 23%;
}
.prior-next {
  display: flex;
  margin: 0% 0% 1% 50%;
}
.prior-next .prior {
  margin: 0% 3% 0% 0%;
}
.prior-next .next {
  margin: 0% 0% 0% 3%;
}

/*# sourceMappingURL=pet_shop.css.map */
