@import "../common/base";

.header {
  background: $color-green-600;
  position: fixed;
  z-index: 99;
  width: 100%;
  .row {
    display: flex;

    .header-left {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      .header-logo {
        width: 15%;
        cursor: pointer;
        img {
          width: 100%;
        }
      }
      .header-nav {
        width: 80%;
        transform: translateY(8px);
        text-align: center;
        .nav-content {
          padding: 0;

          .nav-item {
            display: inline-block;
            position: relative;
            i {
              font-size: $text-base;
            }
            a {
              color: $color-white-light;
              font-size: $text-md;
              font-weight: $text-semiBold;
              display: inline-block;
              text-decoration: none;
              transition: all 0.4s;
              margin-right: 10px;
            }
            a:hover {
              color: $color-black-light;
            }
            .submenu {
              min-width: 240px;
              height: auto;
              position: absolute;
              top: 100%;
              left: 0;
              z-index: -2;
              opacity: 0;
              visibility: hidden;
              background-color: #fff;
              box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
              text-align: left;
              padding: 12px 0;
              border-radius: 4px;
              list-style: none;
              transition: all 0.4s;
              li a {
                font-size: $text-base;
                font-weight: $text-semiBold;
                padding: 5px 20px;
                font-size: $text-sm;
                display: block;
                color: #1f1f25;
                margin: 0 10px;
                border-radius: 3px;
                text-decoration: none;
              }
              li:hover a {
                color: $color-orange-800;
                background: rgba(83, 81, 80, 0.07);
              }
            }
          }
          .nav-item:hover .submenu {
            opacity: 1;
            visibility: visible;
            z-index: 90;
          }
        }
      }
    }
    .header-right {
      width: 50%;
      display: flex;
      align-items: center;

      .search-box {
        width: 45%;
        position: relative;
        input {
          width: 250px;
          height: 40px;
          border-radius: 20px;
        }
        input::placeholder {
          padding-left: 10px;
        }
        i {
          position: absolute;
          top: 12px;
          left: 210px;
          cursor: pointer;
        }
      }
      .login-button {
        width: 55%;
        text-align: center;
        .nav-login {
          display: inline-block;
          a {
            color: $color-white-light;
            font-size: $text-md;
            font-weight: $text-semiBold;
            display: inline-block;
            text-decoration: none;
            transition: all 0.4s;
            margin-right: 10px;
          }
          a:hover {
            opacity: 0.75;
            color: $color-black-light;
          }
        }
        .button-report {
          background: $color-orange-800;
          color: $color-black-light;
          font-weight: $text-semiBold;
          padding: 10px 20px;
          border-radius: 15px;
          box-shadow: 0 0 0 3em $color-orange-800 inset;
          transition: all 300ms ease;
        }
        .button-report:hover {
          box-shadow: 0 0 0 1px $color-white-light inset;
          transition: all 300ms ease;
          color: $color-white-light;
          background: transparent;
          border: 1px solid $color-white-light;
        }
      }
    }
  }
}
